.Menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  margin: 5px;

  &.down {
    bottom: 5px;
    right: 5px;
  }

  &.up {
    top: 5px;
    left: 20px;
  }

  div {
    margin: 5px 7px;
  }
}

.App.rtl {
  .Menu-container {
    &.down {
      left: 5px;
      right: auto;
    }

    &.up {
      right: 20px;
      left: auto;
    }
  }
}
