.Line-container {
  display: flex;
  align-items: center;
  padding-left: 10px !important; }
  .Line-container .date, .Line-container .title, .Line-container .plus, .Line-container .minues {
    padding: 0 5px; }
  .Line-container .date {
    padding-left: 20px;
    width: 85px;
    font-family: "Courier New", Courier, monospace; }
  .Line-container .title {
    flex: 1; }
  .Line-container .actions {
    margin-top: 5px;
    padding: 0 10px; }
    .Line-container .actions .material-icons {
      opacity: 0.6; }

.App.rtl .Line-container {
  padding-right: 10px !important; }
  .App.rtl .Line-container .date {
    padding-left: 0;
    padding-right: 20px; }
