.Adhoc-container {
    .content {
    }

    .list {
    }

    .clear-button {
        position: absolute;
        top: 27px;
        right: 80px;
    }
}

.App.rtl {
    .Adhoc-container {
        .content {
        }

        .list {
        }

        .clear-button {
            right: auto;
            left: 80px;
        }
    }
}
