.CreateNew-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;

  .title {
    font-size: 30px;
    color:lightseagreen;
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    padding:0;
    margin:40px 0;

    li {
      background-color: #f3f3f3;
      color: lightcoral;
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 24px;
      margin: 5px;
      cursor: pointer;
      border: 1px solid #ccc;

      &:hover {
        background-color: lighten(#f3f3f3, 5%);
        border: 1px solid #ccc;
      }
    }
  }
}