.Percent-container {
  width: 100px;
  text-align: right;
  margin-right: 10px;

  .value2 {
    font-size:12px;
    padding:0 5px;
  }
}

.App.rtl {
  .Percent-container {
    margin-left: auto;
    margin-right: 10px;
  }
}