.Resource-container {
  width: 100px;
  text-align: right;
  margin-left: 10px;
  font-family: "Courier New", Courier, monospace;

  &.green {
    color: lightgreen;
  }

  &.red {
    color: pink
  }

  &.clickable {
    cursor: pointer;
  }
}