.Table-container {
  flex: 1;
  padding: 50px;
  background-color: #444;
  color: white;
  overflow: auto; }
  .Table-container table {
    padding: 10px;
    padding: 0;
    margin: 0; }
    .Table-container table th {
      padding-bottom: 10px; }
    .Table-container table td {
      padding: 3px 5px; }
    .Table-container table td:nth-child(1) {
      width: 150px; }
    .Table-container table td:nth-child(2) {
      width: 50px; }
    .Table-container table td:nth-child(3) {
      width: 140px; }
    .Table-container table td:nth-child(4) {
      width: 140px; }
    .Table-container table .future + tr td {
      background-color: purple;
      padding: 7px 5px; }
